In [2]:
import pandas as pd
import re
import nltk
nltk.download('popular')
from nltk.tokenize import word_tokenize
from nltk import pos_tag
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('wordnet')
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
nltk.download('sentiwordnet')
from nltk.corpus import sentiwordnet as swn

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package sentiwordnet to /root/nltk_data...
[nltk_data]   Package sentiwordnet is already up-to-date!

In [3]:
raw_bottom = pd.read_csv("bottom_movie_reviews.csv")
raw_top = pd.read_csv("top_movie_reviews.csv")

In [4]:
raw_top

,user_name,title,rating,date,review
0,NaN,"An offer so good, I couldn't refuse",10,1 April 2019,It is now past 1 PM and I just finished watchi...
1,NaN,"For Me, This Is The Definitive Film",10,11 February 2018,This isn't just a beautifully crafted gangster...
2,NaN,One of the best of all time.,10,6 February 2021,"A masterclass in film making, is The Godfather..."
3,NaN,An Iconic Film,10,21 June 2008,Tell me a movie that is more famous than this....
4,NaN,"Another kind of ""family movie""",10,5 March 2002,The Godfather is one of the few films in which...
...,...,...,...,...,...
8108,NaN,Stop! Bad dates...,10,17 August 2021,This is a perfect movie. It is filled with as ...
8109,NaN,Lunatic and Fraud.,2,10 September 1998,What's this - 2 Speilberg films in the top 10...
8110,NaN,Harrison Ford stole the show,7,2 June 2022,"""Oh, my God, this whole place is slithering""I'..."
8111,NaN,Adventure movies are always fun and engaging,9,20 March 2020,"In the first-generation adventure film, everyo..."
8112,NaN,American arrogance as entertainment product,3,7 March 2021,An American archeologist goes to Egypt to stea...

In [5]:
raw_bottom

,user_name,title,rating,date,review
0,NaN,"The fact that aspiring actors, directors, and ...",1,28 August 2008,*Disclaimer: I only watched this movie as a co...
1,NaN,I'd thought I'd never see the day when I'd see...,1,7 September 2009,"Disaster Movie gets my vote as the ""new"" worst..."
2,NaN,Someone please put an end to Seltzer's awful c...,1,28 August 2008,I was given a free ticket to this film; so I c...
3,NaN,Never has a movie had a More Appropriate Title!,1,20 September 2013,Having seen the Scary Movie Series and many of...
4,NaN,Haven't we seen this sort of film 1479 times a...,1,16 January 2010,This film begins in 100001 BC and we see a cav...
...,...,...,...,...,...
6057,NaN,A movie of rich depth,2,10 November 2010,"So, if you're actually planning on watching th..."
6058,NaN,So painfully bad that it's actually amusing.,4,19 March 2007,"""Troll 2"" is an experience.The acting is ridic..."
6059,NaN,Cinematic masterpiece,10,4 March 2019,I don't understand why people hate on this mov...
6060,NaN,Atrocious,2,19 November 2006,This is one incredibly pathetic mess of a movi...
6061,NaN,Ride the tiger something something stripes are...,10,20 March 2022,Sometimes when I watch Troll 2 it's better to ...

In [6]:
raw_data = pd.concat([raw_bottom, raw_bottom], ignore_index=True)

In [7]:
raw_data

,user_name,title,rating,date,review
0,NaN,"The fact that aspiring actors, directors, and ...",1,28 August 2008,*Disclaimer: I only watched this movie as a co...
1,NaN,I'd thought I'd never see the day when I'd see...,1,7 September 2009,"Disaster Movie gets my vote as the ""new"" worst..."
2,NaN,Someone please put an end to Seltzer's awful c...,1,28 August 2008,I was given a free ticket to this film; so I c...
3,NaN,Never has a movie had a More Appropriate Title!,1,20 September 2013,Having seen the Scary Movie Series and many of...
4,NaN,Haven't we seen this sort of film 1479 times a...,1,16 January 2010,This film begins in 100001 BC and we see a cav...
...,...,...,...,...,...
12119,NaN,A movie of rich depth,2,10 November 2010,"So, if you're actually planning on watching th..."
12120,NaN,So painfully bad that it's actually amusing.,4,19 March 2007,"""Troll 2"" is an experience.The acting is ridic..."
12121,NaN,Cinematic masterpiece,10,4 March 2019,I don't understand why people hate on this mov...
12122,NaN,Atrocious,2,19 November 2006,This is one incredibly pathetic mess of a movi...
12123,NaN,Ride the tiger something something stripes are...,10,20 March 2022,Sometimes when I watch Troll 2 it's better to ...

In [8]:
raw_data = raw_data[["review"]]
raw_data

                                                  review
0      *Disclaimer: I only watched this movie as a co...
1      Disaster Movie gets my vote as the "new" worst...
2      I was given a free ticket to this film; so I c...
3      Having seen the Scary Movie Series and many of...
4      This film begins in 100001 BC and we see a cav...
...                                                  ...
12119  So, if you're actually planning on watching th...
12120  "Troll 2" is an experience.The acting is ridic...
12121  I don't understand why people hate on this mov...
12122  This is one incredibly pathetic mess of a movi...
12123  Sometimes when I watch Troll 2 it's better to ...

[12124 rows x 1 columns]

In [9]:
sentences_data = []
for index, row in raw_data.iterrows():
    review = row['review']
    separated_sentences = nltk.sent_tokenize(review)
    sentences_data.extend(separated_sentences)
data = pd.DataFrame({"review": sentences_data})

In [10]:
data

                                                   review
0       *Disclaimer: I only watched this movie as a co...
1                               And I see films for free.
2       I wouldn't be caught dead giving my hard earne...
3                                   Don't see this movie.
4       It is by far the stupidest, lamest, most lazy,...
...                                                   ...
149585  There is no way to make this movie on purpose ...
149586                     2 out of 3 found this helpful.
149587                           Was this review helpful?
149588                                   Sign in to vote.
149589                                          Permalink

[149590 rows x 1 columns]

In [11]:
def clean_text(text):
    text = re.sub('[^A-Za-z]+', ' ', text)
    return text

In [12]:
data['cleaned_review'] = data['review'].apply(clean_text)
data.head()

,review,cleaned_review
0,*Disclaimer: I only watched this movie as a co...,Disclaimer I only watched this movie as a con...
1,And I see films for free.,And I see films for free
2,I wouldn't be caught dead giving my hard earne...,I wouldn t be caught dead giving my hard earne...
3,Don't see this movie.,Don t see this movie
4,"It is by far the stupidest, lamest, most lazy,...",It is by far the stupidest lamest most lazy an...

In [13]:
pos_dict = {'J':wordnet.ADJ, 'V':wordnet.VERB, 'N':wordnet.NOUN, 'R':wordnet.ADV}
def token_stop_pos(text):
  tags = pos_tag(word_tokenize(text))
  newlist = []
  for word, tag in tags:
      if word.lower() not in set(stopwords.words('english')):
        newlist.append(tuple([word, pos_dict.get(tag[0])]))
  return newlist

In [14]:
data['pos_tagged'] = data['cleaned_review'].apply(token_stop_pos)
data.head()

,review,cleaned_review,pos_tagged
0,*Disclaimer: I only watched this movie as a co...,Disclaimer I only watched this movie as a con...,"[(Disclaimer, n), (watched, v), (movie, n), (c..."
1,And I see films for free.,And I see films for free,"[(see, v), (films, n), (free, a)]"
2,I wouldn't be caught dead giving my hard earne...,I wouldn t be caught dead giving my hard earne...,"[(caught, v), (dead, a), (giving, v), (hard, a..."
3,Don't see this movie.,Don t see this movie,"[(see, v), (movie, n)]"
4,"It is by far the stupidest, lamest, most lazy,...",It is by far the stupidest lamest most lazy an...,"[(far, r), (stupidest, a), (lamest, a), (lazy,..."

In [15]:
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatize(pos_data):
  lemma_rew = " "
  for word, pos in pos_data:
    if not pos:
        lemma = word
        lemma_rew = lemma_rew + " " + lemma
    else:
        lemma = wordnet_lemmatizer.lemmatize(word, pos=pos)
        lemma_rew = lemma_rew + " " + lemma
  return lemma_rew

In [16]:
data['lemma'] = data['pos_tagged'].apply(lemmatize)
data.head()

,review,cleaned_review,pos_tagged,lemma
0,*Disclaimer: I only watched this movie as a co...,Disclaimer I only watched this movie as a con...,"[(Disclaimer, n), (watched, v), (movie, n), (c...",Disclaimer watch movie conditional agreement
1,And I see films for free.,And I see films for free,"[(see, v), (films, n), (free, a)]",see film free
2,I wouldn't be caught dead giving my hard earne...,I wouldn t be caught dead giving my hard earne...,"[(caught, v), (dead, a), (giving, v), (hard, a...",catch dead give hard earn money idiot Well e...
3,Don't see this movie.,Don t see this movie,"[(see, v), (movie, n)]",see movie
4,"It is by far the stupidest, lamest, most lazy,...",It is by far the stupidest lamest most lazy an...,"[(far, r), (stupidest, a), (lamest, a), (lazy,...",far stupid lame lazy unbelievably UNFUNNY mo...

In [17]:
def sentiwordnetanalysis(pos_data):
  sentiment = 0
  tokens_count = 0
  for word, pos in pos_data:
      if not pos:
          continue
      lemma = wordnet_lemmatizer.lemmatize(word, pos=pos)
      if not lemma:
          continue
      synsets = wordnet.synsets(lemma, pos=pos)
      if not synsets:
          continue
      # Take the first sense, the most common
      synset = synsets[0]
      swn_synset = swn.senti_synset(synset.name())
      sentiment += swn_synset.pos_score() - swn_synset.neg_score()
      tokens_count += 1
      # print(swn_synset.pos_score(),swn_synset.neg_score(),swn_synset.obj_score())
  if not tokens_count:
      return None
  if sentiment>0:
      return "positive"
  if sentiment==0:
      return "neutral"
  else:
      return "negative"

In [18]:
data['polarity'] = data['pos_tagged'].apply(sentiwordnetanalysis)
data.head()

,review,cleaned_review,pos_tagged,lemma,polarity
0,*Disclaimer: I only watched this movie as a co...,Disclaimer I only watched this movie as a con...,"[(Disclaimer, n), (watched, v), (movie, n), (c...",Disclaimer watch movie conditional agreement,positive
1,And I see films for free.,And I see films for free,"[(see, v), (films, n), (free, a)]",see film free,positive
2,I wouldn't be caught dead giving my hard earne...,I wouldn t be caught dead giving my hard earne...,"[(caught, v), (dead, a), (giving, v), (hard, a...",catch dead give hard earn money idiot Well e...,negative
3,Don't see this movie.,Don t see this movie,"[(see, v), (movie, n)]",see movie,neutral
4,"It is by far the stupidest, lamest, most lazy,...",It is by far the stupidest lamest most lazy an...,"[(far, r), (stupidest, a), (lamest, a), (lazy,...",far stupid lame lazy unbelievably UNFUNNY mo...,negative

In [19]:
data.count()

review            149590
cleaned_review    149590
pos_tagged        149590
lemma             149590
polarity          139924
dtype: int64

In [20]:
data['polarity'].value_counts()

positive    62074
negative    44538
neutral     33312
Name: polarity, dtype: int64

In [21]:
data.to_csv('labeled_data.csv',index=False)

https://www.analyticsvidhya.com/blog/2021/06/rule-based-sentiment-analysis-in-python/#:~:text=This%20is%20a%20practical%20approach,is%20called%20Lexicon%20based%20approach.